@model ReserverRideVar01.Models.Member

@{
    ViewData["Title"] = "register";

}


<h1>新增會員</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberEmail" class="control-label"></label>
                <input asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhone" class="control-label"></label>
                <input asp-for="MemberPhone" class="form-control" />
                <span asp-validation-for="MemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPassword" class="control-label"></label>
                <input asp-for="MemberPassword" class="form-control" />
                <span asp-validation-for="MemberPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberAddress" class="control-label"></label>
                <input asp-for="MemberAddress" class="form-control" />
                <span asp-validation-for="MemberAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberBirthday" class="control-label"></label>
                <input asp-for="MemberBirthday" class="form-control" />
                <span asp-validation-for="MemberBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberNumberID" class="control-label"></label>
                <input asp-for="MemberNumberID" class="form-control" />
                <span asp-validation-for="MemberNumberID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MemberEnable" class="control-label"></label>
                <input asp-for="MemberEnable" class="form-control" />
                <span asp-validation-for="MemberEnable" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="MemberPhoto" class="control-label"></label>
                <input asp-for="MemberPhoto" class="form-control" />
                <span asp-validation-for="MemberPhoto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MemberType" class="control-label"></label>
                <input asp-for="MemberType" class="form-control" />
                <span asp-validation-for="MemberType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MemberCreateDate" class="control-label"></label>
                <input asp-for="MemberCreateDate" class="form-control" />
                <span asp-validation-for="MemberCreateDate" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="MemberModifyDate" class="control-label"></label>
                <input asp-for="MemberModifyDate" class="form-control" />
                <span asp-validation-for="MemberModifyDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
