
@{
    ViewData["Title"] = "AddToCart";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h1>加入購物車</h1>
    <h4>數量確認</h4>
    <hr />

    <div class="form-group">

        <div class="col-md-1">
            輸入數量
            @Html.TextBox("txtCount", "1",
                new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <input type="hidden" name="txtFid" value="@Model.ProductId" />

    <div class="form-group">
        <div class="col-md-offset-0 col-md-1">
            <input type="submit" value="確認" class="btn btn-default" />
        </div>
    </div>
</div>
}
