@model IEnumerable<ReserverRideVar01.ViewModels.CShoppingCartItemViewModel>
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>購物車</h1>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">產品名稱 </th>
                                        <th class="column-title">價格</th>
                                        <th class="column-title">數量</th>
                                        <th class="column-title">小計</th>
                                        <th class="column-title">產品照片</th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">動作</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart">
                                        <partial name="_CartCard" model=Model />
                                    </tr>
                                    @{
                                        decimal payment = 0;
                                        if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                payment += item.小計;
                                            }
                                        }
                                    }
                                    @if (Model != null)
                                    {
                                        <tr class="even pointer">
                                            <td class=" ">總額:</td>
                                            <td class=" "></td>
                                            <td class=" "></td>
                                            <td class=" ">@payment</td>
                                            <td class=""></td>
                                            <td class="">
                                                <a class="delete btn btn-success rounded" style="color:white">清空購物車</a> |
                                                @Html.ActionLink("結帳", "pay", "pay", new { payment = @payment }, new { @class = "btn btn-secondary rounded" })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(".delete").click(function () {
            $("tr.even").load("/Shopping/RemoveAllCart")
        })
        $(".deleteOne").click(function () {
            console.log($(this).attr("value"))
            $("tr.even").load("/Shopping/RemoveCart/"+ $(this).attr("value"))
        })

    </script>
}
