@model ReserverRideVar01.Models.Activity

@{
    ViewData["Title"] = "Edit";
    Layout = "~/areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>活動管理</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>修改活動</h2>
                        <div class="clearfix"></div>
                        <div>
                            <a asp-controller="Activity" asp-action="List" asp-area="admin">前往首頁</a>
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ActivityId" />
                                    <div class="form-group">
                                        <label asp-for="ActivityName" class="control-label"></label>
                                        <input asp-for="ActivityName" class="form-control" />
                                        <span asp-validation-for="ActivityName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IslandId" class="control-label">地區</label>
                                        <select asp-for="IslandId" class="form-control" asp-items="ViewBag.IslandId" id="island_select"></select>
                                        <span asp-validation-for="IslandId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityType" class="control-label"></label>
                                        <input asp-for="ActivityType" class="form-control" />
                                        <span asp-validation-for="ActivityType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityStartDate" class="control-label"></label>
                                        <input asp-for="ActivityStartDate" class="form-control" />
                                        <span asp-validation-for="ActivityStartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityEndDate" class="control-label"></label>
                                        <input asp-for="ActivityEndDate" class="form-control" />
                                        <span asp-validation-for="ActivityEndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityTimezone" class="control-label"></label>
                                        <input asp-for="ActivityTimezone" class="form-control" />
                                        <span asp-validation-for="ActivityTimezone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityPrice" class="control-label"></label>
                                        <input asp-for="ActivityPrice" class="form-control" />
                                        <span asp-validation-for="ActivityPrice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityLocation" class="control-label"></label>
                                        <input asp-for="ActivityLocation" class="form-control" />
                                        <span asp-validation-for="ActivityLocation" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityState" class="control-label"></label>
                                        <select asp-for="ActivityState" class="form-control">
                                            <option value="申請中">申請中</option>
                                            <option value="已通過">已通過</option>
                                            <option value="已取消">已取消</option>
                                        </select>
                                        <span asp-validation-for="ActivityState" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityNumberLimit" class="control-label"></label>
                                        <input asp-for="ActivityNumberLimit" class="form-control" />
                                        <span asp-validation-for="ActivityNumberLimit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityDeadline" class="control-label"></label>
                                        <input asp-for="ActivityDeadline" class="form-control" />
                                        <span asp-validation-for="ActivityDeadline" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityPhoto" class="control-label">活動照片</label>
                                        @if (Model.ActivityPhoto != null)
                                        {
                                        <img src="data:image;base64,@Convert.ToBase64String(Model.ActivityPhoto)" width="200" id="photoview", asp-for="ActivityPhoto" />}
                                        <input asp-for="ActivityPhoto" class="pic-upload-input" type="file" id="photoinput"/>
                                        <span asp-validation-for="ActivityPhoto" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ActivityDescription" class="control-label">活動描述(上限200字)</label>
                                        <textarea asp-for="ActivityDescription" class="form-control" style="width: 500px; height: 200px;"></textarea>
                                        <span asp-validation-for="ActivityDescription" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="修改" class="btn btn-primary" onclick="alter('確認修改活動資料?')" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $.ajax({
            url: "/admin/Activity/IslandRead",
            success: function (result) {
                console.log(result)
                result.forEach((i) => {
                    $("#island_select").append(`<option value="${i.islandId}">${i.islandName}<option>`)
                })
            }
        });

        $.ajax({
            url: "/admin/Activity/IslandRead",
            success: function (result) {
                console.log(result)
                result.forEach((i) => {
                    option = `<option value="${i.islandId}"`
                    if (@Model.IslandId == i.islandId)
                  {
                    option += `selected`;
                     }
                option += `>${i.islandName}</option>`
                $("#island_select").append(option);
                })
            }
        });

    </script>
}

