@model ReserverRideVar01.ViewModel.CLoginViewModel

@{
    ViewData["Title"] = "Index";
   Layout = "~/areas/admin/Views/Shared/_loginLayout.cshtml"; 
    }

    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "" }))
                    {
                        <h1>Login Form</h1>
                        <div>
                            @Html.TextBox("txtAccount", "", new { @class = "form-control", @placeholder = "Email"} )
                            @Html.ValidationMessageFor(model => model.txtAccount, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.TextBox("txtPassword", "", new { @class = "form-control", @placeholder = "Password",@type="password" })
                            @Html.ValidationMessageFor(model => model.txtPassword, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />

                        </div>
                    }
                </section>
            </div>

            
        </div>
    </div>
