@model ReserverRideVar01.Models.Island

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Island</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IslandId" />
            <div class="form-group">
                <label asp-for="IslandName" class="control-label"></label>
                <input asp-for="IslandName" class="form-control" />
                <span asp-validation-for="IslandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IslandPhoto" class="control-label"></label>
                <input asp-for="IslandPhoto" type="file" />
                <span asp-validation-for="IslandPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


