@using ReserverRideVar01.ViewModel;
@model ProductViewModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<p>
    <a></a>
</p>

<div class="container">
    <div class="row">
        @foreach (var island in Model.Islands)
        {
            <div class="col-lg-auto col-xl-4 d-flex" style="height:150px;">
                <div class="rounded d-flex ftco-animate">
                    @if (@island.IslandPhoto != null)
                    {
                        <a value=@island.IslandId id=@island.IslandName class="img" style="background-image: url(data:image;base64,@Convert.ToBase64String(island.IslandPhoto)); width: 350px; height: 120px">
                            <div style="text-align: center; height: 150px;">
                                <span style="font-size: 35px; color: white; display: flex; justify-content: center;" class="align-self-center">@island.IslandName</span>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="product-list">
            <partial name="_ProductCard" model=Model.Products />
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    <script>

        $(".img").each(function () {
            $(this).css("opacity", 0.5);
            $(this).hover(function () {
                $(this).animate({ opacity: 1.0 }, 100);
            }, function () {
                $(this).animate({ opacity: 0.5 }, 100);
            });
            $(this).click(function () {
                $('div.product-list').load("/Product/index/" + $(this).attr("value"))
            })
        });

    </script>
}