@using ReserverRideVar01.ViewModel;
@model ProductViewModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <input type="button" id="button" class="btn btn-primary" value=1 />
    <div class="row">
        @foreach (Island island in Model.Islands)
        {
            <div class="col-lg-6 col-xl-4 d-flex" style="height:100px;">
                <div class="pricing-entry rounded d-flex ftco-animate" style="height:120px;">
                    @*@Html.ActionLink(island.IslandName, "List", "Product", new { id = island.IslandId }, null)*@
                    <a value="1" id="island-img" class="img" style="background-image: url(https://images-giftu.azureedge.net/ProdScenarios/Filter/20210105180952393733.webp); width: 350px;"></a>
                </div>
            </div>
        }
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="product-list">
            <partial name="_ProductCard" model=Model.Products />
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    <script>
        
        $('#island-img').click(function () {
            $('div.product-list').load("/Product/index/" + $(this).attr("value"))
        })
    </script>
}

